

$primary-color: #3498db;
$secondary-color: #2ecc71;
$bg-color: #f4f4f4;

body {
    font-family: Arial, sans-serif;
    background-color: $bg-color;
    position: relative; /* Per la posizione assoluta dei post-it */
    padding-top: 80px; /* Spazio per la navbar sticky */
}

/* Stile per i post-it */
.post-it-container {
    position: relative;
    min-height: 100vh;
}

.post-it {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #ffeb3b;
    color: #333;
    text-align: center;
    line-height: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: rotate(5deg);
    }

    &:active {
        background-color: $secondary-color;
        color: #fff;
    }
}

.navbar {
    background-color: $primary-color;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link:hover {
    color: $secondary-color !important;
}

@media (max-width: 768px) {
    .navbar {
        background-color: $secondary-color;
    }
}